body {
  margin: 0;
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  font-family: "Montserrat", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 20px;
}

p {
  margin-bottom: 10px;
}
